/* 
    Author     : Jonathan Jara Morales <jonathan.jara.morales@gmail.com>
*/
body{
    background: #486582;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: 14px;
}
.panel{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -180px;
    font-family: sans-serif;
    background: #EDEDED;
    background: #EDEDED;
    border-radius: 5px;
    //box-shadow: inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
    text-align: left;
    border-top: 1px solid #656565;
}

.ui-widget-content {
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    border: 0px;
}

.ui-panel .ui-panel-footer {
    border-width: 1px 0 0;
    text-align: right !important;
    background: transparent;
    margin-top: -15px !important;
}
.panel .ui-widget-header{
    color: black; 
    font-size: 16px;
    font-weight: normal;   
    text-shadow: 0 1px 1px #e7e7e7;
    text-align: center;
    text-transform: capitalize;
    border: 0px solid #486582;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: 14px;
}

.fromPanel{
    margin-top: -250px;
}

.toPanel{
    margin-top: -50px;
}

.ui-outputlabel .ui-outputlabel-rfi{
    color: red;   
}

.ui-panel .ui-button-text-only .ui-button-text {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    font-size: 11px;
    border-radius: 4px;
    border: 0px;
    text-decoration: none;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-weight: normal;
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,0.09);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #EBEBEB),color-stop(0.5, #ECECEC),color-stop(0.5, #F3F3F3),color-stop(1, #FFFFFF));
    background-image: -moz-linear-gradient( center bottom, #EBEBEB 0%, #ECECEC 50%, #F3F3F3 50%, #FFFFFF 100%);
    box-shadow: inset 0 1px 0 rgba(255,255,255,1), 0 1px 0 rgba(0,0,0,0.09);
}

.ui-panel .ui-button-text-only .ui-button-text {
    display: inline-block;
    height: 20px;
    line-height: 16px;
    font-size: 14px;
    border-radius: 4px;
    border: 0px;
    text-decoration: none;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-weight: normal;
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,0.09);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #EBEBEB),color-stop(0.5, #ECECEC),color-stop(0.5, #F3F3F3),color-stop(1, #FFFFFF));
    background-image: -moz-linear-gradient( center bottom, #EBEBEB 0%, #ECECEC 50%, #F3F3F3 50%, #FFFFFF 100%);
    box-shadow: inset 0 1px 0 rgba(255,255,255,1), 0 1px 0 rgba(0,0,0,0.09);
}
