<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Candidate Test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <h:outputStylesheet library="css" name="style2.css"  />
    </h:head>
    <h:body>
        <h:form id="form">
            <p:panel header="Operation fromRomanNumeral" styleClass="fromPanel panel"  id="pnlfromRomanNumeral">
                <p:growl id="msg" showDetail="false" life="2000" />             
                <p:outputLabel for="number" value="Roman Number:" />                
                <p:inputText value="#{RomanBean.romanNumber}" id="number" 
                             required="true" label="number" 
                             validatorMessage="You can entered only letters. Minimum 1" 
                             requiredMessage="This field is required">                  
                    <f:validateLength minimum="1" maximum="5"/>
                </p:inputText>                
                <h:panelGrid id="panel">                
                    <h:outputText id="msgNumber" value="#{RomanBean.decimalNumber}" styleClass="msg" rendered="#{RomanBean.decimalNumber gt 0}" />
                </h:panelGrid>
                <f:facet name="footer">
                    <p:commandButton value="Process..." update="pnlfromRomanNumeral" actionListener="#{RomanBean.fromRomanNumeral}"/>    
                </f:facet>
            </p:panel>
        </h:form>

        <h:form>
            <p:panel header="Operation toRomanNumeral" styleClass="toPanel panel"  id="pnltoRomanNumeral">
                <p:growl id="msg2" showDetail="false" life="2000" />             
                <p:outputLabel for="romanNumber" value="Decimal Number:" />                
                <p:inputText value="#{RomanBean.decimalNumber}" id="romanNumber" 
                             required="true" label="number" 
                             validatorMessage="You can entered only number. Minimum 1 and Maximum 3999" 
                             requiredMessage="This field is required">                  
                    <f:validateLength minimum="1" maximum="5"/>
                </p:inputText>                
                <h:panelGrid id="panelRoman">                
                    <h:outputText id="msgRoman" value="#{RomanBean.romanResult}" styleClass="succes-msg" rendered="#{RomanBean.romanResult ne null}" />
                </h:panelGrid>
                <f:facet name="footer">
                    <p:commandButton value="Process..." update="pnltoRomanNumeral" actionListener="#{RomanBean.toRomanNumeral}"/>    
                </f:facet>
            </p:panel>
        </h:form>
    </h:body> 
</html>

